.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://img.freepik.com/free-vector/abstract-watercolor-painted-background_23-2149050138.jpg?t=st=1650676721~exp=1650677321~hmac=31589bb1d84db4a4a819df554d0d754fdff827f34cdc3c487");
    background-size: cover;
  }
  
  .loginTitle {
    font-size: 50px;
    font-family: 'Lora', serif;

  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(87, 83, 83);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  .loginButton:disabled{
    cursor: not-allowed;
    background-color: coral;
  }
  
  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(67, 73, 73);
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }
  label{
    font-family: 'Lora', serif;
  }